<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Edit Categories</h1>

  
  
    <%= form_for(@category) do |category| %>
      <p>Name: <%= category.text_field :name %></p>

      <p><%= category.submit('save category') %></p>
    <% end %>

  </div>
</div>