<div class="container">
  <div class="row">
    <h1 class="page-header text-center">Categories</h1>

    <%= link_to('create new category', new_category_path) %>

    <table class="table table-hover table-bordered">
      <tr> 
        <th>Name</th>
<!--         <th>Edit</th>
        <th>View</th>
        <th>Delete</th> -->
      </tr>
      <% @categories.each do |category| %>
       <tr>
          <td><%= link_to(category.name, category_path(category.id)) %></td>
          <td><%= link_to('delete this category', category_path(category.id), method: :delete) %></td>
        </tr>
      <% end %>
    </table>
       
  </div>
</div>
